force-app/main/default/flows/Action_Plan_From_Closed_Won.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <description
  >Northstar. Autolaunched subflow invoked by Opportunity_After_Save_Closed_Won_Orchestration after the Generate Order action. Loads the Opportunity's Implementation Package and the Account's Customer Segment, calls Northstar_Action_Plan_Creation_Subflow to pick the onboarding template, looks up that template by name to get its Id (ActionPlanCreateInvocable binds templateNameOrID to an Id field, so a name string throws), and — when a playbook rule matches AND the template record exists — creates the Action Plan via ActionPlanCreateInvocable related to the Opportunity. No-op when no playbook rule matches or the template is not seeded yet. Fulfils the deferred onboarding Action Plan step.</description>
    <environments>Default</environments>
    <actionCalls>
        <name>Create_Action_Plan</name>
        <label>Create Onboarding Action Plan</label>
        <locationX>176</locationX>
        <locationY>504</locationY>
        <actionName>ActionPlanCreateInvocable</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>relatedRecordID</name>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateNameOrID</name>
            <value>
                <elementReference>Get_Template_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>daysToActionPlanStart</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <decisions>
        <name>Template_Matched</name>
        <label>Playbook Rule Matched?</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <defaultConnectorLabel>No Matching Rule</defaultConnectorLabel>
        <rules>
            <name>Matched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Choose_Template.outputMatched</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Template_Record</targetReference>
            </connector>
            <label>Rule Matched</label>
        </rules>
    </decisions>
    <decisions>
        <name>Template_Exists</name>
        <label>Template Record Exists?</label>
        <locationX>176</locationX>
        <locationY>480</locationY>
        <defaultConnectorLabel>Not Seeded Yet</defaultConnectorLabel>
        <rules>
            <name>Template_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Template_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Action_Plan</targetReference>
            </connector>
            <label>Template Found</label>
        </rules>
    </decisions>
    <interviewLabel
  >Action Plan From Closed Won {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Action Plan From Closed Won</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity + Account Segment</label>
        <locationX>176</locationX>
        <locationY>180</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <connector>
            <targetReference>Choose_Template</targetReference>
        </connector>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Template_Record</name>
        <label>Get Action Plan Template by Name</label>
        <locationX>176</locationX>
        <locationY>444</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >Choose_Template.outputTemplateName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ActionPlanTemplate__c</object>
        <connector>
            <targetReference>Template_Exists</targetReference>
        </connector>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>176</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Choose_Template</name>
        <label>Choose Action Plan Template</label>
        <locationX>176</locationX>
        <locationY>288</locationY>
        <connector>
            <targetReference>Template_Matched</targetReference>
        </connector>
        <flowName>Northstar_Action_Plan_Creation_Subflow</flowName>
        <inputAssignments>
            <name>inputCustomerSegment</name>
            <value>
                <elementReference
        >Get_Opportunity.Account.Customer_Segment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputImplementationPackage</name>
            <value>
                <elementReference
        >Get_Opportunity.Implementation_Package__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
