force-app/main/default/flows/Lead_Before_Save_Normalize_And_Segment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <description
  >Northstar. Before-save segmentation for Leads: when Customer_Segment__c is blank and NumberOfEmployees is known, derives the segment band (Strategic / Enterprise / Commercial / SMB) — the default LeadTriggerHandler does NOT set. Lead-source normalization, Region__c derivation and Routing_Reason__c stamping are intentionally LEFT to LeadTriggerHandler: its test suite asserts those behaviors are handler-exclusive (bypassing the handler must leave the fields untouched), and a flow cannot honor the Apex bypass — so duplicating them here would break that contract. This flow therefore owns only the segment gap. Intentional declarative/Apex overlap.</description>
    <environments>Default</environments>
    <decisions>
        <name>Needs_Segment_Default</name>
        <label>Blank Segment with a Headcount?</label>
        <locationX>176</locationX>
        <locationY>168</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Segment_Blank_With_Headcount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >$Record.Customer_Segment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.NumberOfEmployees</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Segment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>SegmentFromHeadcount</name>
        <dataType>String</dataType>
        <expression
    >IF({!$Record.NumberOfEmployees} &gt;= 5000, "Strategic", IF({!$Record.NumberOfEmployees} &gt;= 1000, "Enterprise", IF({!$Record.NumberOfEmployees} &gt;= 100, "Commercial", "SMB")))</expression>
    </formulas>
    <interviewLabel
  >Lead Before Save - Normalize and Segment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Before Save - Normalize and Segment</label>
    <processType>AutoLaunchedFlow</processType>
    <assignments>
        <name>Set_Segment</name>
        <label>Set Customer Segment from Headcount</label>
        <locationX>50</locationX>
        <locationY>288</locationY>
        <assignmentItems>
            <assignToReference>$Record.Customer_Segment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SegmentFromHeadcount</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <start>
        <locationX>176</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Needs_Segment_Default</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
