force-app/main/default/flows/Northstar_Action_Plan_Creation_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <description
  >Northstar. Reusable subflow: given an Implementation Package and Customer Segment, reads Implementation_Playbook_Rule__mdt and returns the Action Plan template name and intended owner group. Matches the most specific rule first (exact package + segment), then falls back to a package-only rule (Segment blank = any). Sets outputMatched=false when no rule applies so callers can skip Action Plan creation. Called by Action_Plan_From_Closed_Won.</description>
    <environments>Default</environments>
    <assignments>
        <name>Assign_From_Any</name>
        <label>Assign From Any-Segment Rule</label>
        <locationX>50</locationX>
        <locationY>504</locationY>
        <assignmentItems>
            <assignToReference>outputTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Get_AnySegment_Match.Action_Plan_Template__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputOwnerGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Get_AnySegment_Match.Owner_Group__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputMatched</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_From_Exact</name>
        <label>Assign From Exact Rule</label>
        <locationX>176</locationX>
        <locationY>288</locationY>
        <assignmentItems>
            <assignToReference>outputTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Get_Exact_Match.Action_Plan_Template__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputOwnerGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Get_Exact_Match.Owner_Group__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputMatched</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_None</name>
        <label>Assign No Match</label>
        <locationX>314</locationX>
        <locationY>504</locationY>
        <assignmentItems>
            <assignToReference>outputMatched</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>AnySegment_Found</name>
        <label>Any-Segment Rule Found?</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <defaultConnectorLabel>No Rule</defaultConnectorLabel>
        <defaultConnector>
            <targetReference>Assign_None</targetReference>
        </defaultConnector>
        <rules>
            <name>Has_Any_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_AnySegment_Match.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_From_Any</targetReference>
            </connector>
            <label>Any-Segment Rule Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exact_Found</name>
        <label>Exact Rule Found?</label>
        <locationX>176</locationX>
        <locationY>180</locationY>
        <defaultConnectorLabel>No Exact Rule</defaultConnectorLabel>
        <defaultConnector>
            <targetReference>Get_AnySegment_Match</targetReference>
        </defaultConnector>
        <rules>
            <name>Has_Exact_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Exact_Match.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_From_Exact</targetReference>
            </connector>
            <label>Exact Rule Exists</label>
        </rules>
    </decisions>
    <interviewLabel
  >Northstar Action Plan Creation Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Northstar Action Plan Creation Subflow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_AnySegment_Match</name>
        <label>Get Any-Segment Playbook Rule</label>
        <locationX>176</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Implementation_Package__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputImplementationPackage</elementReference>
            </value>
        </filters>
        <filters>
            <field>Segment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Implementation_Playbook_Rule__mdt</object>
        <connector>
            <targetReference>AnySegment_Found</targetReference>
        </connector>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Exact_Match</name>
        <label>Get Exact Playbook Rule</label>
        <locationX>176</locationX>
        <locationY>72</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Implementation_Package__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputImplementationPackage</elementReference>
            </value>
        </filters>
        <filters>
            <field>Segment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputCustomerSegment</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Implementation_Playbook_Rule__mdt</object>
        <connector>
            <targetReference>Exact_Found</targetReference>
        </connector>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>176</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Exact_Match</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>inputCustomerSegment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputImplementationPackage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outputMatched</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outputOwnerGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outputTemplateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
