force-app/main/default/flows/Opportunity_After_Save_Closed_Won_Orchestration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <description
  >Northstar. When an Opportunity transitions into StageName="Closed Won": (1) calls the GO_GenerateOrderInvocable apex action to generate the Order + Order Products from the primary accepted Quote (or Opportunity Products); (2) ONLY when that invocable reports success, stamps Provisioning_Status__c="Pending" to hand off to the provisioning pipeline. The invocable returns Result.success=false (no exception) on its guard failures (e.g. no active Contract, no products), so the success gate prevents marking an Opportunity provisioning-ready when no Order was created. Fires only on the transition (doesRequireRecordChangedToMeetCriteria). INTENTIONAL overlap with OpportunityTriggerHandler (revenue/ARR finalization) and ProvisioningService — both run. ONLY on the order-created (success) path, after stamping Provisioning_Status__c, it calls the Action_Plan_From_Closed_Won subflow (bullet "Create onboarding Action Plan"), which picks the onboarding template from Implementation_Playbook_Rule__mdt and creates the Action Plan — this fulfils the step deferred. Gating onboarding on order success keeps it consistent with the provisioning handoff: an Opportunity whose order generation guard-failed gets neither. /: the invocable now also returns Result.success=false with errorCode="ORDER_ALREADY_EXISTS" when an Order was already generated for this Opportunity (e.g. via the Generate Order quick action before close). That is NOT a guard failure — an Order is present — so the decision proceeds on success==true OR errorCode=="ORDER_ALREADY_EXISTS", preserving provisioning + onboarding for a legitimately closed-won deal whose Order pre-existed.</description>
    <environments>Default</environments>
    <actionCalls>
        <name>Generate_Order</name>
        <label>Generate Order (apex)</label>
        <locationX>176</locationX>
        <locationY>168</locationY>
        <actionName>GO_GenerateOrderInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Order_Generated</targetReference>
        </connector>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requireAcceptedQuote</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <decisions>
        <name>Order_Generated</name>
        <label>Order Generated?</label>
        <locationX>176</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>No Order (guard failed)</defaultConnectorLabel>
        <rules>
            <name>Fresh_Order_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Generate_Order.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stamp_Provisioning_Pending_New</targetReference>
            </connector>
            <label>Order Created (fresh)</label>
        </rules>
        <rules>
            <name>Order_Already_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Generate_Order.errorCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ORDER_ALREADY_EXISTS</stringValue>
                </rightValue>
            </conditions>
            <!-- No provisioning stamp here: the before-save handler
            (stageClosedWonInBefore) already set Provisioning_Status__c from the
            rollup of the pre-existing Order(s). Stamping Pending here
            would re-pend an Order that was already activated and determined to
            need no provisioning (rolled to Not Required by dispatch), with no
            later event to clear it. Go straight
            onboarding. -->
            <connector>
                <targetReference>Create_Onboarding_Action_Plan</targetReference>
            </connector>
            <label>Order Already Exists</label>
        </rules>
    </decisions>
    <interviewLabel
  >Opportunity After Save - Closed Won Orchestration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity After Save - Closed Won Orchestration</label>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Stamp_Provisioning_Pending_New</name>
        <label>Stamp Provisioning Pending (new order)</label>
        <locationX>44</locationX>
        <locationY>408</locationY>
        <connector>
            <targetReference>Create_Onboarding_Action_Plan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Provisioning_Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <subflows>
        <name>Create_Onboarding_Action_Plan</name>
        <label>Create Onboarding Action Plan</label>
        <locationX>176</locationX>
        <locationY>528</locationY>
        <flowName>Action_Plan_From_Closed_Won</flowName>
        <inputAssignments>
            <name>opportunityId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <start>
        <locationX>176</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Generate_Order</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria
    >true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
