force-app/main/default/flows/Opportunity_After_Save_Proposal_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <description
  >Northstar. When an Opportunity transitions into StageName="Proposal/Price Quote" and has no related Quote yet, creates a "Build quote" Task so the rep prepares quote context. Fires only on the transition (doesRequireRecordChangedToMeetCriteria); skips silently when a Quote already exists. The Task is owned by the Opportunity owner when that is a user.</description>
    <environments>Default</environments>
    <decisions>
        <name>No_Quote_Yet</name>
        <label>No Related Quote?</label>
        <locationX>176</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Quote Exists</defaultConnectorLabel>
        <rules>
            <name>Quote_Missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Quote</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Build_Quote_Task</targetReference>
            </connector>
            <label>No Quote</label>
        </rules>
    </decisions>
    <formulas>
        <name>QuoteTaskOwnerId</name>
        <dataType>String</dataType>
        <expression
    >IF(BEGINS({!$Record.OwnerId}, "005"), {!$Record.OwnerId}, {!$User.Id})</expression>
    </formulas>
    <interviewLabel
  >Opportunity After Save - Proposal Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity After Save - Proposal Automation</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Build_Quote_Task</name>
        <label>Create Build Quote Task</label>
        <locationX>50</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Action_Plan_Source__c</field>
            <value>
                <stringValue>Proposal Automation Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>QuoteTaskOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Build quote for proposal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>false</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Quote</name>
        <label>Get Existing Quote</label>
        <locationX>176</locationX>
        <locationY>168</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Quote_Yet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>176</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Existing_Quote</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria
    >true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Proposal/Price Quote</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
