force-app/main/default/flows/QQ_Edit_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Upsert_Delete_Quote_Line_Items</name>
        <label>Upsert &amp; Delete Quote Line Items</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>QQ_UpsertAndDeleteQuoteLineItems</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>deletedLineItems</name>
            <value>
                <elementReference
        >QuoteProductsTable.deletedQuoteLineItems</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lineItems</name>
            <value>
                <elementReference
        >QuoteProductsTable.quoteLineItems</elementReference>
            </value>
        </inputParameters>
        <nameSegment>QQ_UpsertAndDeleteQuoteLineItems</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel
  >Quicker Quotes: Edit Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Quicker Quotes: Edit Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quote_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Quote_Screen</name>
        <label>Quote Screen</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Upsert_Delete_Quote_Line_Items</targetReference>
        </connector>
        <fields>
            <name>EditQuote_Text</name>
            <fieldText
      >&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Add, Remove, or Change Line Items:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>QuoteProductsTable</name>
            <extensionName>c:qqProductsTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pricebookId</name>
                <value>
                    <elementReference>Get_Quote.Pricebook2Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>quoteId</name>
                <value>
                    <elementReference>Get_Quote.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
