force-app/main/default/flows/Quote_After_Save_Accepted_Quote_Sync.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <description
  >Northstar. For an Accepted, syncing Quote, stamps the synced Opportunity: Primary_Quote_Accepted__c=true plus the quote-driven legal/finance review flags. Review determination is DELEGATED to DealDeskService.evaluateDealDesk (the shared rule engine the Apex uses) so legal honours non-standard discount reasons and finance uses the per-line services-margin floor — no flow-local approximation. The flags are OR-merged into the Opportunity (set true when the quote adds a requirement; never cleared, so the Amount-driven path in is not clobbered). Fires once on the transition into Accepted+IsSyncing, matching the repo's "re-save must not re-propagate" contract (QuoteTriggerHandlerTest.resaveOfAcceptedSyncingQuoteDoesNotRefire). Intentional overlap with QuoteTriggerHandler.</description>
    <environments>Default</environments>
    <actionCalls>
        <name>Evaluate_Deal_Desk</name>
        <label>Evaluate Deal Desk (shared rules)</label>
        <locationX>176</locationX>
        <locationY>288</locationY>
        <actionName>DealDeskService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Synced_Opportunity</targetReference>
        </connector>
        <inputParameters>
            <name>quote</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quoteLines</name>
            <value>
                <elementReference>QuoteLines</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <formulas>
        <name>NewFinanceReview</name>
        <dataType>Boolean</dataType>
        <expression
    >OR({!SyncedOpportunity.Requires_Finance_Review__c}, {!Evaluate_Deal_Desk.financeReview})</expression>
    </formulas>
    <formulas>
        <name>NewLegalReview</name>
        <dataType>Boolean</dataType>
        <expression
    >OR({!SyncedOpportunity.Requires_Legal_Review__c}, {!Evaluate_Deal_Desk.legalReview})</expression>
    </formulas>
    <interviewLabel
  >Quote After Save - Accepted Quote Sync {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote After Save - Accepted Quote Sync</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Quote_Lines</name>
        <label>Get Quote Line Items</label>
        <locationX>176</locationX>
        <locationY>168</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Evaluate_Deal_Desk</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <outputReference>QuoteLines</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Discount</queriedFields>
        <queriedFields>Revenue_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Synced_Opportunity</name>
        <label>Get Synced Opportunity</label>
        <locationX>176</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Stamp_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <outputReference>SyncedOpportunity</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Requires_Legal_Review__c</queriedFields>
        <queriedFields>Requires_Finance_Review__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Stamp_Opportunity</name>
        <label>Stamp Opportunity (Accepted + Review Flags)</label>
        <locationX>176</locationX>
        <locationY>528</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary_Quote_Accepted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requires_Finance_Review__c</field>
            <value>
                <elementReference>NewFinanceReview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requires_Legal_Review__c</field>
            <value>
                <elementReference>NewLegalReview</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>176</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Quote_Lines</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria
    >true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsSyncing</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Quote</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>QuoteLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>SyncedOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
